[Unit]
Description=Example long running bash script

[Service]
Restart=always
WorkingDirectory={PROJECT_DIRECTORY}
ExecStart={PROJECT_DIRECTORY}tests/daemons/long-running.sh

[Install]
WantedBy=default.target